In [34]:
import pandas as pd
import datetime

AVG_PREGNANCY_DURATION_DAYS = 268 # source = https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3777570/ #TODO fetch from constants - use __init__

In [35]:
dummy_df = pd.read_csv("../data/mommytalkDummyData.csv")

display(dummy_df)

    age      region registrationDate     dueDate  childBirth userMode gender
0    32    gyeongju       2023-11-30         NaN  2024-08-09     baby      m
1    34    gimcheon       2023-11-06  2024-09-01         NaN   embryo      f
2    31       seoul       2023-07-12         NaN  2024-05-19     baby      f
3    43  pyeongtaek       2024-06-05  2025-04-01         NaN   embryo    NaN
4    21       busan       2023-06-14         NaN  2024-03-01     baby      f
5    27      sejong       2024-03-27  2025-01-21         NaN   embryo      m
6    31       daegu       2023-06-14         NaN  2024-03-21     baby      f
7    32     daejeon       2024-05-16  2025-03-12         NaN   embryo    NaN
8    33       ulsan       2021-06-14         NaN  2022-01-12     baby      m
9    33      pohang       2024-08-05  2025-06-01         NaN   embryo    NaN
10   34       ansan       2020-04-17         NaN  2021-01-12     baby      f
11   35     siheung       2023-10-24         NaN  2024-07-17     baby      f
12   31     cheonan       2024-06-05  2025-04-01         NaN   embryo    NaN
13   30       busan       2020-07-12         NaN  2021-05-12     baby      f
14   24      goyang       2024-01-17  2024-11-12         NaN   embryo      f
15   28     anseong       2022-08-12         NaN  2023-05-19     baby      m
16   33     incheon       2023-11-29  2024-09-24         NaN   embryo      m
17   38       seoul       2021-04-30         NaN  2022-01-19     baby      m
18   38     incheon       2023-02-16         NaN  2023-12-31     baby      m
19   23       suwon       2022-01-31         NaN  2022-11-29     baby      f
20   32       busan       2022-09-12         NaN  2023-06-29     baby      f
21   27       ulsan       2021-02-03         NaN  2021-11-29     baby      f
22   38      pohang       2023-08-12         NaN  2024-03-29     baby      m
23   29      andong       2024-03-07  2025-01-01         NaN   embryo      f
24   24     gochang       2024-03-06  2024-12-31         NaN   embryo      m
25   25      anyang       2024-05-15  2025-03-11         NaN   embryo    NaN
26   23       ansan       2024-03-15  2025-01-09         NaN   embryo      f
27   28        jeju       2023-03-01         NaN  2024-01-23     baby      m
28   38     incheon       2024-03-22  2025-01-16         NaN   embryo      f
29   30      sangju       2024-05-08  2025-03-04         NaN   embryo    NaN
30   30        osan       2024-07-18  2025-05-14         NaN   embryo    NaN
31   24        gumi       2024-07-31  2025-05-27         NaN   embryo    NaN
32   26     chungju       2022-09-01         NaN  2023-06-29     baby      f
33   33      pohang       2024-04-02  2025-01-27         NaN   embryo    NaN
34   23      pohang       2024-05-13  2025-03-09         NaN   embryo    NaN
35   30       hanam       2023-05-13         NaN  2024-03-23     baby      m
36   33       suwon       2023-05-13         NaN  2024-06-29     baby      f
37   34    yangyang       2024-01-03  2024-10-29         NaN   embryo      m
38   37        jeju       2024-05-04  2025-02-28         NaN   embryo    NaN
39   37        gumi       2021-06-13         NaN  2022-04-31     baby      f

In [36]:
user_data_df = dummy_df.sort_values('registrationDate')

# add simple id based on registration date order (note would break for multiples of same, not a good id)

user_data_df["userNo"] = range(len(user_data_df))

user_data_df["userId"] = "id_" + user_data_df["userNo"].astype('str')

user_data_df["foodIntolerance"] = "None"

display(user_data_df)

,age,region,registrationDate,dueDate,childBirth,userMode,gender,userNo,userId,foodIntolerance
10,34,ansan,2020-04-17,NaN,2021-01-12,baby,f,0,id_0,None
13,30,busan,2020-07-12,NaN,2021-05-12,baby,f,1,id_1,None
21,27,ulsan,2021-02-03,NaN,2021-11-29,baby,f,2,id_2,None
17,38,seoul,2021-04-30,NaN,2022-01-19,baby,m,3,id_3,None
39,37,gumi,2021-06-13,NaN,2022-04-31,baby,f,4,id_4,None
8,33,ulsan,2021-06-14,NaN,2022-01-12,baby,m,5,id_5,None
19,23,suwon,2022-01-31,NaN,2022-11-29,baby,f,6,id_6,None
15,28,anseong,2022-08-12,NaN,2023-05-19,baby,m,7,id_7,None
32,26,chungju,2022-09-01,NaN,2023-06-29,baby,f,8,id_8,None
20,32,busan,2022-09-12,NaN,2023-06-29,baby,f,9,id_9,None
18,38,incheon,2023-02-16,NaN,2023-12-31,baby,m,10,id_10,None
27,28,jeju,2023-03-01,NaN,2024-01-23,baby,m,11,id_11,None
36,33,suwon,2023-05-13,NaN,2024-06-29,baby,f,12,id_12,None
35,30,hanam,2023-05-13,NaN,2024-03-23,baby,m,13,id_13,None
4,21,busan,2023-06-14,NaN,2024-03-01,baby,f,14,id_14,None
6,31,daegu,2023-06-14,NaN,2024-03-21,baby,f,15,id_15,None
2,31,seoul,2023-07-12,NaN,2024-05-19,baby,f,16,id_16,None
22,38,pohang,2023-08-12,NaN,2024-03-29,baby,m,17,id_17,None
11,35,siheung,2023-10-24,NaN,2024-07-17,baby,f,18,id_18,None
1,34,gimcheon,2023-11-06,2024-09-01,NaN,embryo,f,19,id_19,None
16,33,incheon,2023-11-29,2024-09-24,NaN,embryo,m,20,id_20,None
0,32,gyeongju,2023-11-30,NaN,2024-08-09,baby,m,21,id_21,None
37,34,yangyang,2024-01-03,2024-10-29,NaN,embryo,m,22,id_22,None
14,24,goyang,2024-01-17,2024-11-12,NaN,embryo,f,23,id_23,None
24,24,gochang,2024-03-06,2024-12-31,NaN,embryo,m,24,id_24,None
23,29,andong,2024-03-07,2025-01-01,NaN,embryo,f,25,id_25,None
26,23,ansan,2024-03-15,2025-01-09,NaN,embryo,f,26,id_26,None
28,38,incheon,2024-03-22,2025-01-16,NaN,embryo,f,27,id_27,None
5,27,sejong,2024-03-27,2025-01-21,NaN,embryo,m,28,id_28,None
33,33,pohang,2024-04-02,2025-01-27,NaN,embryo,NaN,29,id_29,None
38,37,jeju,2024-05-04,2025-02-28,NaN,embryo,NaN,30,id_30,None
29,30,sangju,2024-05-08,2025-03-04,NaN,embryo,NaN,31,id_31,None
34,23,pohang,2024-05-13,2025-03-09,NaN,embryo,NaN,32,id_32,None
25,25,anyang,2024-05-15,2025-03-11,NaN,embryo,NaN,33,id_33,None
7,32,daejeon,2024-05-16,2025-03-12,NaN,embryo,NaN,34,id_34,None
3,43,pyeongtaek,2024-06-05,2025-04-01,NaN,embryo,NaN,35,id_35,None
12,31,cheonan,2024-06-05,2025-04-01,NaN,embryo,NaN,36,id_36,None
30,30,osan,2024-07-18,2025-05-14,NaN,embryo,NaN,37,id_37,None
31,24,gumi,2024-07-31,2025-05-27,NaN,embryo,NaN,38,id_38,None
9,33,pohang,2024-08-05,2025-06-01,NaN,embryo,NaN,39,id_39,None

In [44]:
# enrich data with useful calculations

user_data_df["childBirth"] = user_data_df["childBirth"].str.replace('04-31','04-30') # spot replace erroneous data - April has 30 days

user_data_df["estConceptionDate"] = pd.to_datetime(user_data_df["dueDate"]) - pd.Timedelta(days=AVG_PREGNANCY_DURATION_DAYS) 

user_data_df["estConceptionOrBirthDate"] = user_data_df["childBirth"].fillna(user_data_df["estConceptionDate"])

user_data_df["pregnancyOrPostBirthWeeks"] = ((pd.to_datetime(datetime.datetime.today())  - pd.to_datetime(user_data_df['estConceptionOrBirthDate'], format='mixed')).dt.days/7).round().astype('int')

In [45]:
user_data_df.to_csv("../data/userData.csv")